@import 'animation';
@import 'common';

.rcw.widget-container {
  height: auto;
  width: auto;
  .conversation-container {
    width: 370px;
    margin-bottom: 10px;
  }
  .launcher {
    margin-top: 0;
  }
  @media screen and (max-width: 800px) {
    height: auto;
    width: auto;
    .conversation-container {
      height: 100vh;
      width: 100vw;
      margin-bottom: 0;
    }
  }
}

.rcw-full-screen {
  @include widget-container-fs;
}

.rcw-previewer .rcw-message-img {
  cursor: pointer;
}
