@import 'animation';
@import 'common';

.rcw-widget-container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 0;
  max-width: 370px;
  position: fixed;
  right: 0;
  width: 90vw;
  z-index: 9999;
}

.rcw-full-screen {
  @include widget-container-fs;
}

@media only screen and (max-width: 800px) {
  .rcw-widget-container {
      position: absolute;
      top: 100px;
  }
  .rcw-conversation-container .rcw-title {
      padding: 15px 0 15px;
  }

  .rcw-conversation-container{
      height: 0%;
  }

  .rcw-conversation-container.active{
      height: 100vh;
      height: calc(100vh - 100px);
  }
}

.rcw-previewer .rcw-message-img {
  cursor: pointer;
}
